<section id="about" class="about">

  <div class="container-xxl border border-muted bg-secondary border-opacity-10 pb-5 mb-5 ">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center fw-bold pt-3 brillo">🌟Sobre mí🌟</h2>
        <hr class="fw-bolder">
      </div>

        <h4 class="text-decoration-underline">Soy Nicolas (niko):</h4>
        <span class="fs-3 pb-5 fw-bolder lh-sm font-monospace">
        Un chileno de 32 años que actualmente reside en la región de O’Higgins.
        Soy un apasionado de la informática, pero sobre todo del desarrollo front-end.
        Desde mi etapa académica hasta el presente profesionalmente no he dejado de aprender.
        Programar es mi pasión, pero debo confesar que me he desviado del camino.
        Me titulé de Ingeniero de Ejecución en Informática con mención en Desarrollo de Sistemas en 2017 y he ejercido en el área de la salud.
        Aunque he podido desarrollarme en el área de la informática, siempre he tenido la inquietud de emprender nuevamente mi carrera desde las raíces, desde el desarrollo.
        A pesar de los obstáculos, la pasión por mi profesión no ha muerto y la sigo alimentando con mis proyectos personales y cursos onlines.
      </span>
      <h4 class="text-decoration-underline">Mis Gustos y pasiones:</h4>
      <ul class="fs-3 pb-5 fw-bolder lh-sm font-monospace">
        <li>la informática.</li>
        <li>el Desarrollo front-end (aunque todavía sigo aprendiendo...)</li>
        <li>el gaming 🎮, más inclinado para el PC y mis favoritos los Resident Evil🧟‍♂️🧬</li>
        <li>la Naturalesa, criado en un entorno rural y más específicamente en un valle rodiado de cerros, adoro la naturalesa.</li>
        <li>el manga y el anime</li>
      </ul>

      <span *ngIf="VerMas" class="fs-3 pb-5 fw-bolder lh-sm font-monospace">Me titule de INGENIERO DE EJECUCIÓN EN INFORMÁTICA MENCIÓN
        DESARROLLO DE SISTEMAS, <p class="fst-italic">En el año 2017</p>
        Apasionado por la informática

      </span>
      <div class=" align-items-end">
        <button (click)="MostrarTexto()" class="btn btn-outline-light btn-xl px-3"> Ver Mas </button>
      </div>
    </div>
  </div>

</section>
