<section id="about" class="about-section">
  <div class="container-xxl">
    <div class="row mb-5">
      <!-- Título Principal -->
      <h1 class=" fw-bold pt-3 glow-text">Más Sobre Mí</h1>
      <hr class="fw-bolder">

      <!-- Contenido -->
      <div class="col-md-12 d-flex align-items-start justify-content-between flex-wrap">
        <!-- Categorías -->
        <div class="about-categories">
          <h2 class="about-category text-poppins">💻 Tecnología</h2>
          <ul class="about-list">
            <li>Me apasiona la informática y el desarrollo front-end, aprendiendo y mejorando cada día. 🚀</li>
          </ul>

          <h2 class="about-category text-poppins">🎮 Gaming</h2>
          <ul class="about-list">
            <li>Fan de la saga <em>Resident Evil</em> 🧟‍♂️🧬. Disfruto de buenas partidas en PC.</li>
          </ul>

          <h2 class="about-category text-poppins">🌳 Naturaleza</h2>
          <ul class="about-list">
            <li>Adoro el contacto con lo natural, criado entre cerros y rodeado de tranquilidad. 🌿</li>
          </ul>

          <h2 class="about-category text-poppins">📚 Entretenimiento</h2>
          <ul class="about-list">
            <li>Amo el manga y el anime, disfrutando de historias memorables y personajes inspiradores. 🎥</li>
          </ul>
        </div>

        <!-- Imagen circular -->
        <div class="circle-image ">
          <div class="circle">
            <img *ngFor="let image of images" [src]="image" alt="Instagram photo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
