<section id="about" class="about">

  <div class="container-xxl border border-muted bg-secondary border-opacity-10 pb-5 mb-5 ">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center fw-bold pt-3 brillo">Sobre mí</h2>
        <hr class="fw-bolder">
      </div>

      <span class="fs-3 pb-5 fw-bolder lh-sm font-monospace">
        Hola Mi nombre es Nicolas Muñoz (niko), Vivo en la región de O'Higgins (Chile), actualmente tengo 32 años, mis intereses incluyen:

        <ul class="mt-3">
          <li>la informática.</li>
          <li>el Desarrollo front-end (aunque todavía sigo aprendiendo...)</li>
          <li>el gaming 🎮, más inclinado para el PC y mis favoritos los Resident Evil🧟‍♂️🧬</li>
          <li>la Naturalesa, criado en un entorno rural y más específicamente en un valle rodiado de cerros, adoro la naturalesa.</li>
          <li>el manga y el anime</li>
        </ul>

      </span>
      <span *ngIf="VerMas" class="fs-3 pb-5 fw-bolder lh-sm font-monospace">Me titule de INGENIERO DE EJECUCIÓN EN INFORMÁTICA MENCIÓN
        DESARROLLO DE SISTEMAS, <p class="fst-italic">En el año 2017</p>
        Apasionado por la informática

      </span>
      <div class=" align-items-end">
        <button (click)="MostrarTexto()" class="btn btn-outline-light btn-xl px-3"> Ver Mas </button>
      </div>
    </div>
  </div>

</section>
