.footer-content {
  display: none;
}

.footer-content.show {
  display: block;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.toggle-footer {
  width: 60px;
  height: 70px;
  /* position: fixed; */
  bottom: 0px;
  left: 20px;
  background-color: #252525;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px 50px 0px 0px; /* Parte redondeada hacia arriba */
  z-index: 3000;
  transition: all 0.6s ease;
  align-items: flex-start;
  text-align: center;
}

.toggle-footer:hover {
  background-color: #FEAE6F;
  box-shadow: 0 0 5px #FEAE6F, 0 0 20px #FEAE6F, 0 0 50px #FEAE6F, 0 0 100px #FEAE6F;
}

/* Estilo del botón "Scroll to Top" */
.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #028391;
  color: #fff;
  z-index: 3000;
  border-radius: 50%; /* Mantener el botón redondo */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s ease;
  padding: 0;
}

.scroll-top.hidden {
  opacity: 0;
  visibility: hidden;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top:hover,
.scroll-top:focus {
  background-color: #FEAE6F;
  box-shadow: 0 0 5px #FEAE6F, 0 0 20px #FEAE6F, 0 0 50px #FEAE6F, 0 0 100px #FEAE6F;
}
