

/* ++++++++++++++SECTION++++++++++++++++ */
.home-section{
  padding-top: 100px;
  padding-bottom: 200px;
  background: linear-gradient(45deg, #2E2E2E 50%, #212121 50%);
}
@media (width = 768px){
  .home-section{
    padding-top: 50px;
  }
}
/* ------------------------------------- */
@media(width > 800px){
.img-thumbnail{
  width: 300px;
  height: 300px;
}
}

/* CARD RESUMEN */
mat-card{
  background: linear-gradient(-45deg, #45474B 0%, #333333 100% );
  box-shadow:0px 0px 30px 1px #028391 ;
}
@media (width = 768px) {
  mat-card{
 display: none;
  }
}
mat-card-content{
  border-radius: 10px;

}
/* ++++++++++++++CARD MENU++++++++++++++++++ */
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #45474B 0%, #333333 100% );
  border-color: #45474B;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 15;
}
@keyframes card {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* BOTONOES REDES SOCIALES */
span{
  font-size: 1.5rem;
  color: #FEAE6F;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FEAE6F;
  background: #252525;
  box-shadow: 0 0.4rem #6f4e37;
  cursor: pointer;
  margin: 35px 40px;
  margin-top: 140px;
}
span .bi:hover{
  color: #FEAE6F;

  }
span .bi{
  color: #028391;
  padding-left: 5px;
}


/* BTN CURRICULUM */
.btncv {
  width: 100%;
  max-width: 210px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 100;
  color: #028391;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #996655;
  transition: 0.5s ease;
  user-select: none;
  line-height: 0.9;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.btncv:hover,
.btncv:focus {
  color: #f8f9fa;
  background: #028391;
  border: 1px solid #028391;
  box-shadow: 0 0 5px #028391, 0 0 20px #028391, 0 0 50px #028391, 0 0 100px #028391;
  text-decoration: none;
}

.btncv .bi {
  margin-left: 5px;
  padding-right: 20px;
}
/* -------------------------------------- */
/* .ola {
  z-index: -5;
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#808080,#2E2E2E 60%,#141414);
}
.ola:nth-child(2),
.ola:nth-child(3) {
  top: 210px;
}
.playing .ola {
  border-radius: 40%;
  animation: ola 3000ms infinite linear;
}
.ola {
  border-radius: 40%;
  animation: ola 55s infinite linear;
}
.playing .ola:nth-child(2) {
  animation-duration: 4000ms;
}
.ola:nth-child(2) {
  animation-duration: 50s;
}
.playing .ola:nth-child(3) {
  animation-duration: 5000ms;
}
.ola:nth-child(3) {
  animation-duration: 45s;
}
@keyframes ola {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
/* @MEDIAS CARD */
@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 320px
  }
}
/* rotacion de cada card */
.card:nth-child(1):hover {
  transform: rotate(-5deg) scale(1.1);
}
.card:nth-child(2):hover {
  transform: rotate(5deg) scale(1.1);
}
.card:nth-child(3):hover {
  transform: rotate(-3deg) scale(1.1);
}
.card:nth-child(4):hover {
  transform: rotate(3deg) scale(1.1);
}
.emoji{
  font-size: 50px;
  font-style: none;
}
.card .emoji{
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.card:hover .emoji {
  scale: 0;
  transform: rotate(-45deg);
}
.card .card-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  color: #b6cac4;
}
.card:hover .card-title{
  scale: 0;
  transform: rotate(-45deg);
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: (-45deg, #D9CAB3 0%, #2A443C 100% );
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.card:hover .card-body {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}
.card-text {
  margin: 10px 0 0;
  font-size: 14px;
  color: #66C2A5;
  line-height: 1.4;
}


