<section id="home" class="home-section"> <!-- Apertura sección home -->
  <!-- TITULO Y MAS -->
  <div class="container-xxl"> <!-- Apertura contenedor principal -->
    <h1 class="fw-bold text-decoration-underline"> Fron-End Developmen</h1> <!-- Título -->

    <!-- RESUMEN  -->
    <div class="row justify-content-center mt-5"> <!-- Apertura fila resumen -->

      <div class="col-md-4 "> <!-- Apertura columna resumen -->
        <img class="img-thumbnail mb-5" src="img/avatarP.png" alt=""> <!-- Imagen -->
        <div class="col-md-10 mt-4 text-start"> <!-- Apertura columna interna -->
          <span class="" data-bs-content="Disabled popover"> <!-- Apertura span -->
            <a href="https://www.linkedin.com/in/nicolas-mu%C3%B1oz-2551b8b6/" target="_blank"> <!-- Enlace LinkedIn -->
              <i class="bi bi-linkedin fs-2"></i> <!-- Icono LinkedIn -->
            </a> <!-- Cierre enlace LinkedIn -->
            <a href="https://github.com/Nicolasmp92" target="_blank"> <!-- Enlace GitHub -->
              <i class="bi bi-github fs-2"></i> <!-- Icono GitHub -->
            </a> <!-- Cierre enlace GitHub -->
            <a href="https://www.instagram.com/nikolas.munozpalacios/" target="_blank"> <!-- Enlace Instagram -->
              <i class="bi bi-instagram fs-2"></i> <!-- Icono Instagram -->
            </a> <!-- Cierre enlace Instagram -->
            <a href="https://web.facebook.com/nikolas.munozpalacios/" target="_blank"> <!-- Enlace Facebook -->
              <i class="bi bi-facebook fs-2"></i> <!-- Icono Facebook -->
            </a> <!-- Cierre enlace Facebook -->
          </span> <!-- Cierre span -->
        </div> <!-- Cierre columna interna -->
      </div> <!-- Cierre columna resumen -->


      <div class="col-md-8">
        <!-- <h2 class="text-star fw-bold brillo">Sobre mí</h2> -->
        <div class="d-flex align-items-center">
          <p class="saludo me-2 fs-2">👋</p>
          <h4 class="text-star fw-bold brillo">Hola, Soy Nicolas:</h4>
        </div>
        <p class="fw-bolder fs-5 lh-sm font-monospace text-justify">
          👨‍💻 Soy un chileno de 32 años que actualmente reside en la región de O’Higgins.
          Soy un apasionado de la informática, pero sobre todo del desarrollo front-end.
          Desde mi etapa académica hasta el presente profesionalmente no he dejado de aprender.
          Programar es mi pasión 💻, pero debo confesar que me he desviado del camino.
          Me titulé de Ingeniero de Ejecución en Informática con mención en Desarrollo de Sistemas 🎓  en 2017
          y he ejercido en el área de la salud. 🏥 Aunque he podido desarrollarme en el área de la informática,
          siempre he tenido la inquietud de emprender nuevamente mi carrera desde las raíces: desde el desarrollo🌱.
          A pesar de los obstáculos, la pasión por mi profesión no ha muerto y la sigo alimentando con mis proyectos personales y cursos 💪.
        </p>

        <div class="tags-container text-center">
            <div class="tags"></div>
              <div class="tag">Angular</div>
              <div class="tag">CSS</div>
              <div class="tag">HTML 5</div>
              <div class="tag">Javascript</div>
              <div class="tag">Bootstrap 5</div>
              <div class="tag">Innovación</div>

            </div>
          <a class="text-decoration-none btncv" href="pdf/Nicolas_munoz_20_2024.pdf" download>
            <i class="bi bi-file-earmark-pdf mx-2" id="cv"></i>
            Descargar CV
          </a>

        </div>



    </div> <!-- Cierre fila resumen -->
  </div> <!-- Cierre contenedor principal -->
</section> <!-- Cierre sección home -->
