

/* ++++++++++++++SECTION++++++++++++++++ */
.home-section{
  padding-top: 120px;
  background: linear-gradient(45deg, #2E2E2E 50%, #212121 50%);
  height: 100%;
}
@media (width = 768px){
  .home-section{
    padding-top: 50px;
  }
}
/* CONTAINER */
@media (min-width: 768px) {
  .container-xxl {
    margin: 30px 10%; /* Margen del 10% a ambos lados */
  }
}


/* IMAGEN */
@media(width > 800px){
.img-thumbnail{
  width: 300px;
  height: 300px;
}
}

/* TEXTO */
.fw-bolder.fs-5.lh-sm.font-monospace.text-justify {
  text-align: justify;
  line-height: 1.8; /* Ajusta el interlineado para mayor claridad */
  text-justify: inter-word; /* Justificación entre palabras para mejorar el aspecto */
}






/* BOTONOES REDES SOCIALES */
.social-container {
  margin: 30px 30px;
  max-width: 240px;
  text-align: center;
  font-size: 1.5rem;
  color: #FEAE6F;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  border: 2px solid #FEAE6F;
  background: #252525;
  box-shadow: 0 0.4rem #6f4e37;
  cursor: pointer;
  position: static;
}

.social-container .bi:hover {
  color: #FEAE6F;
}

.social-container .bi {
  color: #028391;
  padding-left: 5px;
}

@media (max-width: 768px) {
  .social-container {
    text-align: center;
    max-width: 50%;
    font-size: 1rem;
    margin: 15px 0px;
    align-items: center;
    justify-content: space-between;
    padding: 10 15px;
  }
  .spsocial-containeran.bi{
    font-size: 1.5rem;
  }
}

/* BTN CURRICULUM */
.btncv {
  max-width: 240px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 100;
  color: #028391;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #996655;
  transition: 0.5s ease;
  user-select: none;
  line-height: 0.9; /* ajustar el texto al centro */
  margin: 0 auto; /* centrar el botón */
  display: flex;
  justify-content: center; /* centrar el contenido del botón */
  text-decoration: none;
}

.btncv:hover,
.btncv:focus {
  color: #f8f9fa;
  background: #028391;
  border: 1px solid #028391;
  box-shadow: 0 0 5px #028391, 0 0 20px #028391, 0 0 50px #028391, 0 0 100px #028391;
  text-decoration: none;
}

.btncv .bi {
  margin-left: 5px;
  padding-right: 20px;
}
/* accionando hover cada 2 segundos */
@keyframes neon-flicker {
  0%, 2%, 8%, 20%, 100% {
    color: #028391;
    background: transparent;
    border-color: #996655;
    box-shadow: none;
  }
  4%, 18% {
    color: #f8f9fa;
    background: #028391;
    border-color: #028391;
    box-shadow: 0 0 5px #028391, 0 0 20px #028391, 0 0 50px #028391, 0 0 100px #028391;
  }
  10%, 15% {
    color: #028391;
    background: transparent;
    border-color: #996655;
    box-shadow: 0 0 10px #028391;
  }
  22%, 30% {
    color: #f8f9fa;
    background: #028391;
    border-color: #028391;
    box-shadow: 0 0 30px #028391, 0 0 60px #028391, 0 0 90px #028391;
  }
}

.btncv {
  animation: neon-flicker 4s infinite ease-in-out;
}


/* -------------------------------------- */


/* ------------------------SALUDO------------------------- */
.saludo {
  display: inline-block;
  animation: wave 1.5s ease-in-out infinite;
  transform-origin: 70% 70%; /* Punto de pivote para el movimiento */
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/* ---------------------------------------------- */



/* -----------------TAGS---------------- */
/* CONTENEDOR PRINCIPAL PARA BOTÓN Y TAGS */
.tags-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar los tags */
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* ESTILO PARA LOS TAGS */
.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center; /* Centrar los tags */
  user-select: none;
  cursor: not-allowed;

}

.tag {
  font-size: 0.9rem;
  color: #FEAE6F;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #FEAE6F;
  background: #252525;
  box-shadow: 0 0.2rem #6f4e37;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}
