/* CONTENEDOR DE TODO EL SITIO WEB */
mat-sidenav-container {
  z-index: 1 !important;
  background-color: transparent;
}
/* CONTENEDOR DE LA TARJETA DE CONTACTO */
mat-sidenav {
  display: flex;
  justify-content: center;
  background-color: #212121;
  color: #f8f9fa;
  border-radius: 0%;
  z-index: 1;
}


/* -------------------------------------- */

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #313131;
}

@media (max-width: 76.8rem) {
  .sidenav-container {
    flex-direction: column;
  }
}


/* MENU BARRA SUPERIOR */
/* Estilos para la barra superior */
.navbar {
  height: 10rem; /* Altura inicial */
  padding: 2.5rem 0;
  background: #212121;
  transition: all 0.6s ease; /* Suaviza todos los cambios */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar.shrink {
  height: 6rem; /* Altura al hacer scroll */
  padding: 1rem 0;
  background-color: #212121; /* Mantiene el fondo */
  transition: all 0.6s ease; /* Suaviza el cambio */
}

/* Estilos para dispositivos mas pequeños */
@media (max-width: 76.8rem) {
  .navbar {
    height: 6rem; /* Reduce la altura */
    padding: 1rem 0; /* Ajusta el relleno */
  }
  .navbar-brand {
    font-size: 1rem; /* Ajusta el tamaño del texto de la marca */
  }

}
.navbar-expand-lg {
  height: 10rem;
  position: fixed;
  background: #212121;
  opacity: 50;
  padding: 2.5rem 0;
  transition: height 0.6s ease, padding 0.6s ease, background-color 0.6s ease, opacity 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-expand-lg.navbar-brand {
  font-size: 2rem;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

/* Estilos para cuando la barra se encoge */
.navbar-expand-lg.shrink-toolbar {
  height: 6rem;
  padding: 1rem 0;
  transition: height 0.6s ease, padding 0.6s ease, background-color 0.6s ease, opacity 0.6s ease;
  background-color: #212121;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-expand-lg.navbar-nav>.active>a {
  border-radius: 0.3rem;
}

.navbar-expand-lg.navbar-shrink {
  padding: 1rem 0;
  background-color: #212121;
}
.navbar-expand-lg.navbar-shrink.navbar-brand {
  font-size: 1rem;
}
/* ----------------------------------------- */


.navbar.scrolled {
  background-color: #fff; /* Cambia esto por el estilo que desees */
  transition: background-color 0.3s;
}

.mat-menu {
  background-color: #252525;
}

@media (min-width: 76.8rem) {
  .navbar-expand-lg {
    border: 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-expand-lg.navbar-brand {
    font-size: 2rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .navbar-expand-lg.navbar-nav > .active > a {
    border-radius: 0.3rem;
  }

  .navbar-expand-lg.navbar-shrink {
    padding: 1rem 0;
    background-color: #495E57;
  }

  .navbar-expand-lg.navbar-shrink.navbar-brand {
    font-size: 1rem;
  }
}

/* navbar collapse, es el boton que aparece cuando se encuentra el menu en responsivo */
.navbar-collapse {
  background-color: #212121;
  padding: 2rem 5rem;
  margin: 0 -3rem;
}

/* El estilo para cada link del menu */
.nav-link {
  border: none;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.activebutton {
  background-color: #FEAE6F !important;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

.nav-link:not(:active):hover,
.nav-link:focus {
  background-color: #FEAE6F;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  color: #fff;
}

.nav-link:focus,
.nav-link:active {
  background-color: #FEAE6F !important;
  outline: none;
  color: #fff;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  width: 0.5rem;
  height: 8rem;
  border-radius: 0.5rem;
  opacity: 0;
}

.nav-link:focus::before,
.nav-link:active::before {
  color: #fff;
  background-color: #117554;
}

.nav-link i {
  width: 1.5rem;
}

.nav-options:hover :not(.nav-link:hover) {
  transition: 300ms;
  filter: blur(1px);
  transform: scale(0.95, 0.95);
}

/* BTN CURRICULUM */
.btncv {
  width: 100%;
  padding: 1rem;
  border-radius: 0.8rem;
  border-color: #FFA500;
  font-size: 1.7rem;
  font-weight: 100;
  text-shadow: none;
  cursor: pointer;
  user-select: none;
  line-height: 0.9;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 0.5rem #028391, 0 0 2rem #028391, 0 0 5rem #028391, 0 0 10rem #028391;
  text-decoration: none;
}

#cv {
  color: #f8f9fa;
}

/* -------------------------------------- */

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.3rem solid #01204E;
  object-fit: cover;
  z-index: 2;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
}

.image-container::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  border-radius: 999px;
  box-sizing: border-box;
  z-index: 2;
  background-image: linear-gradient(#FEAE6F, #F6DCAC, #028391);
  box-shadow: 0 0.4rem 1.5rem #028391;
  background-size: 100% 100%;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span {
  font-size: 1.5rem;
  color: #FEAE6F;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 0.2rem solid #FEAE6F;
  background: #252525;
  box-shadow: 0 0.4rem #6f4e37;
  cursor: pointer;
  margin: 3.5rem 0;
  margin-top: 14rem;
}

span .bi:hover {
  color: #FEAE6F;
}

span .bi {
  color: #028391;
  padding-left: 0.5rem;
}

/* BOTON PARA TARJETA DE PERFIL */
button.toggle-btn {
  position: relative;
  margin-top: 0.5rem !important;
  border-radius: 0 5rem 5rem 0;
  border: 0.1rem #f1f1f1 solid;
  border-left: none;
  z-index: 3000 !important;
  background-color: #252525;
  transition: all 0.6s ease;
}

button.toggle-btn:hover {
  /* cursor: pointer; */
  background-color: #FEAE6F;
  box-shadow: 0 0 0.5rem #FEAE6F, 0 0 2rem #FEAE6F, 0 0 5rem #FEAE6F, 0 0 10rem #FEAE6F;
}

button.toggle-btn i {
  position: relative;
  display: flex;
  transition: transform 0.6s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0.5rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.icon-shake i.bi-person-vcard-fill {
  animation: shake 1.8s ease-in-out infinite;
}

button.toggle-btn:hover i.bi-x {
  transform: translateX(-0.5rem);
}

button.toggle-btn:hover i.bi-person-vcard-fill {
  transform: translateX(0.5rem);
}

/* TARJETA DE PERFIL DATOS DE CONTACTO */
.contact-text {
  color: #f8f9fa;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* ----------------------- */

.nav-link.active {
  background-color: #FEAE6F;
  color: #fff !important;
  border-radius: 5rem;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}



/* SCROLL TOP */

/* Botón Scroll to Top */
.scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #028391;
  color: white;
  border-radius: 50%;
  border: 0.1rem solid #f8f9fa;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 3000;
}

.scroll-top.show {
  opacity: 1;
  visibility: visible;
}

.scroll-top:hover {
  background-color: #FEAE6F;
  box-shadow: 0 0 0.5rem #028391, 0 0 2rem #028391, 0 0 5rem #028391, 0 0 10rem #028391;
}
