



 <mat-toolbar class="justify-content-center fixed-top mb-5">
    <!-- MENU PARA ABIUR Y CERRAR LA BARRA DE NAVEGACION LATERAL -->
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon *ngIf="isSidenavOpen">close</mat-icon>
    <mat-icon *ngIf="!isSidenavOpen">menu</mat-icon>
  </button>
  <!-- MENU DE NAVEGACION -->
  <div class="nav-options">
    <a href="#home" routerLinkActive="active-link" mat-button >Inicio</a>
    <a href="#about"  routerLinkActive="active-link" mat-button>Sobre mí</a>
    <a href="#experiencia"  routerLinkActive="active-link" mat-button>Experiencia</a>
    <a href="#skills"  routerLinkActive="active-link" mat-button>Habilidades</a>
    <a href="#contact"  routerLinkActive="active-link" mat-button>Contacto</a>
  </div>
</mat-toolbar>

  <!-- EL CONTENEDOR PARA TODO EL CONTENIDO DE SIDENAV -->
  <mat-sidenav-container class="sidenav-container ">
    <!-- MENU -->
    <mat-sidenav class="" #sidenav mode="side" [(opened)]="isSidenavOpen" class="example-sidenav text-center"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
      <!-- {{options.value.fixed ? 'Fixed' : 'Non-fixed'}} Sidenav -->

      <!-- IMGANE DE PERFIL -->
      <h4 class="text-start mx-1">Nicolas Muñoz</h4>
      <div class="profile-container">
        <a class="align-self-center" routerLink="/home" >
          <div class="image-container align-items-center mt-5" >
            <img class="profile-image" src="img/IMG_20220615_144311.jpg" alt="MiFotoDePerfil" >
          </div>
        </a>
      </div>

      <p class="text-start mx-2 mt-2"> Ing informática</p>
      <p class="text-start mx-2"> Desarrollador front-end con una gran pasión por aprender</p>
      <p class="text-start mx-2">Te invito a conocer más sobre mí explorando los siguientes enlaces.</p>


      <!-- LISTADO DE ENLACES -->
      <!-- <mat-nav-list class="pt-3">
        <a class="nav-link" routerLinkActive="active-link" mat-list-item routerLink="/home">Inicio</a>
        <a class="mt-2 nav-link" routerLinkActive="active-link" mat-list-item routerLink="/about">Sobre mí</a>
        <a class="mt-2 nav-link" routerLinkActive="active-link" mat-list-item routerLink="/experiencia">Experiencia</a>
        <a class="mt-2 nav-link" routerLinkActive="active-link" mat-list-item routerLink="/habilidades">Habilidades</a>
        <a class="mt-2 nav-link" routerLinkActive="active-link" mat-list-item routerLink="/contacto">Contacto</a>
      </mat-nav-list> -->
      <!-- BOTONER PARA REDES SOCIALES -->
      <span class="sticky-bottom" data-bs-content="Disabled popover">
        <a href="https://www.linkedin.com/in/nicolas-mu%C3%B1oz-2551b8b6/" target="_blank">
          <i class="bi bi-linkedin fs-2"></i>
          <!-- <mat-icon>linkedin</mat-icon> -->
        </a>
        <a href="https://github.com/Nicolasmp92" target="_blank">
          <i class="bi bi-github fs-2"></i>
          <!-- <mat-icon>github</mat-icon> -->
        </a>
        <a href="https://www.instagram.com/nikolas.munozpalacios/" target="_blank">
          <i class="bi bi-instagram fs-2"></i>
          <!-- <mat-icon>github</mat-icon> -->
        </a>
        <a href="https://web.facebook.com/nikolas.munozpalacios/" target="_blank">
          <i class="bi bi-facebook fs-2"></i>
          <!-- <mat-icon>github</mat-icon> -->
        </a>
        </span>
    </mat-sidenav>



    <!-- CONTENEDOR DE CONTENIDO Y RUTAS -->
    <mat-sidenav-content [formGroup]="options">

      <!-- <p>
        <button class="toggle-btn" mat-button (click)="sidenav.toggle()">
          <i *ngIf="isSidenavOpen" class="bi bi-x fs-3 "></i>
          <i *ngIf="!isSidenavOpen" class="bi bi-list fs-3"></i>
        </button>
      </p> -->
        <button
          class="toggle-btn"
          mat-button
          (click)="toggleSidenav()"
          [ngClass]="{ 'icon-shake': !isSidenavOpen }">
          <i *ngIf="isSidenavOpen" class="bi bi-x fs-3"></i>
          <i *ngIf="!isSidenavOpen" class="bi bi-list fs-3"></i>
        </button>

        <!-- <app-header></app-header> -->
        <!-- <router-outlet></router-outlet> -->
        <app-home></app-home>
        <app-about></app-about>
        <app-experience></app-experience>
        <app-skills></app-skills>
        <app-contact></app-contact>


        <!-- <app-footer></app-footer> -->

    </mat-sidenav-content>



  </mat-sidenav-container>

  <!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->

