.skills-section {
  background-color: #EEEEEE; /* Fondo suave */

  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.skills-list {
  margin-bottom: 1.5rem;
}

.skill-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.animated-progress .mat-progress-bar-fill::after {
  animation: progressAnimation 1.5s ease-in-out forwards;
}

@keyframes progressAnimation {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}


.skills-list {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.3s; /* Retraso para que se active tras unos milisegundos */
}

@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
