
.experiencia-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #f8f9fa; /* mi-paleta secundario */
  text-align: center;
}

.mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #F6DCAC; /* mi-paleta terciario */
}

.portafolio-item {
  margin-top: 1rem;
}

.portafolio-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8f9fa; /* mi-paleta primario */
}

.portafolio-descripcion {
  color: #f8f9fa; /* colores-dominantes secundario */
}

.experiencia-item {
  margin-top: 1rem;
}

.experiencia-puesto {
  font-size: 1.25rem;
  font-weight: bold;
  color: #028391; /* mi-paleta secundario */
}

.experiencia-institucion {
  font-size: 1rem;
  color: #66C2A5; /* colores-dominantes terciario */
}

.experiencia-fecha {
  font-size: 0.875rem;
  color: #F6DCAC; /* colores-dominantes cuaternario */
}

.experiencia-descripcion {
  color: #f8f9fa; /* colores-dominantes secundario */
}

.experiencia-lista {
  list-style-type: disc;
  padding-left: 1.5rem;
  color: #f8f9fa; /* colores-dominantes cuaternario */
}

mat-card {
  margin-bottom: 1rem;
  overflow: hidden; /* Asegúrate de que el contenido no desborde */
  background-color: #f8f9fa; /* mi-paleta quinto */
  border: 1px solid #996655; /* colores-dominantes cuaternario */
  display: flex;
  flex-direction: column;
  max-width: 100%; /* Asegúrate de que las tarjetas no excedan el ancho disponible */
}

.card-title {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #f8f9fa; /* mi-paleta primario */
}

mat-card-content {
  background-color: #1E1E1E; /* colores-dominantes primario */
  white-space: nowrap; /* Evita que el texto se desborde */
  overflow: hidden; /* Oculta el desbordamiento */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto desbordado */
  flex-grow: 1;
}

.btnpor, .btnexp, .btncerrar {
  width: 100%;
  max-width: 210px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 100;
  color: #FEAE6F; /* mi-paleta cuaternario */
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #996655; /* colores-dominantes cuaternario */
  transition: 0.5s ease;
  user-select: none;
  line-height: 0.9;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btnpor:hover, .btnpor:focus, .btnexp:hover, .btnexp:focus, .btncerrar:hover, .btncerrar:focus {
  color: #f8f9fa; /* mi-paleta quinto */
  background: #028391; /* mi-paleta secundario */
  border: 1px solid #028391; /* mi-paleta secundario */
  box-shadow: 0 0 5px #028391, 0 0 20px #028391, 0 0 50px #028391, 0 0 100px #028391; /* Cambiado a color de la paleta mi-paleta */
  text-decoration: none;
}
mat-dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #01204E;  */
}

.mat-dialog-content {
  color: #1E1E1E; /* colores-dominantes primario */
}

.mat-dialog-actions .mat-button {
  background-color: #66C2A5; /* colores-acentos primario */
  border-color: #66C2A5; /* colores-acentos primario */
}

.mat-dialog-actions .mat-button-primary {
  background-color: #FFA500; /* colores-acentos terciario */
  border-color: #FFA500; /* colores-acentos terciario */
}

/* Contenedor del modal */
.dialog-container {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  max-width: 900px;
  max-height: 80vh; /* 80% del alto de la ventana */
  margin: auto;
  overflow-y: auto; /* Permite desplazamiento si el contenido es muy grande */
}
/* Imagen a la izquierda (50% del ancho) */
.dialog-image {
  flex: 0 0 50%; /* 50% del ancho del modal */
  max-height: 100%; /* Ajusta la altura según el contenido */
  overflow: hidden;
  border-radius: 8px 0 0 8px;
}

.dialog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen se ajusta sin distorsionarse */
}

/* Contenido a la derecha */
.dialog-content {
  flex: 1; /* Resto del espacio */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Contenido y botón "Cerrar" pegado al final */
  padding: 1.5rem;
  background-color: #f8f9fa; /* Fondo claro */
  border-radius: 0 8px 8px 0;
}

/* Título */
.dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #028391; /* Color principal */
  margin-bottom: 1rem;
}

/* Detalles del modal */
.dialog-details {
  font-size: 1rem;
  color: #333; /* Color texto */
  line-height: 1.5;
}

/* Botón "Cerrar" pegado abajo */
.btncerrar {
  align-self: flex-end; /* Pegado a la parte inferior derecha */
  margin-top: auto; /* Empuja el botón hacia abajo */
  color: #FEAE6F; /* Color del botón */
  border: 1px solid #FEAE6F;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btncerrar:hover {
  background-color: #FEAE6F;
  color: #fff;
}
