<section id="experiencia" class="experiencia-section mt-5">
  <div class="container-xxl">
    <h2 class="experiencia-titulo">Experiencia</h2>
    <hr class="experiencia-subrayado">

    <div class="experiencia-item">
        <h3 class="experiencia-puesto">Implementador Hospital Digital</h3>
        <p class="experiencia-institucion">MINSAL <span class="experiencia-fecha">2021/Presente</span></p>
        <p class="experiencia-descripcion">
            Prestando servicios como ingeniero en informática, apoyando en la gestión del cambio en proyectos de tecnologías de la información requeridos en MINSAL:
        </p>
        <ul class="experiencia-lista">
            <li>Levantamiento de procesos y análisis funcional de sistemas informáticos.</li>
            <li>Aprobar y gestionar usuarios de las diferentes soluciones tecnológicas.</li>
            <li>Acompañamiento en la gestión del cambio a los usuarios en la implementación e incorporación del uso de las tecnologías de la información.</li>
            <li>Capacitar a los equipos locales en las diferentes soluciones tecnológicas y a su vez en la transferencia de su conocimiento.</li>
            <li>Detectar oportunidades de mejora y realización de propuestas para mejorar las soluciones tecnológicas.</li>
        </ul>
    </div>

    <div class="experiencia-item">
        <h3 class="experiencia-puesto">Administrativo y soporte técnico</h3>
        <p class="experiencia-institucion">CESFAM <span class="experiencia-fecha">2017 – 2021</span></p>
        <p class="experiencia-descripcion">
            Prestando servicios como técnico-administrativo y subrogante en el área de soporte técnico informático, desenvolviéndome en varios cargos de confianza como coordinador de SIGGES y subrogante de SOME.
        </p>
    </div>
  </div>
</section>
