/* TITULA DE LA SECCION */
.experiencia-titulo {
  font-size: 3rem;
  margin-top: 0.5rem;
  font-weight: bold;
  color: #f8f9fa;
  text-align: center;
}

.mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #F6DCAC;
}
/* ---------------------------------- */


/* TITULO Y DESCRIPCION PARA LA PESTAÑA PORTAFOLIO */
/* ETIQUETA SECCIONES Y TITULO SECCIONES*/
.text-tab{
  font-size: 1.5rem;
}

.custom-active-tab {
  position: relative;
  color: #FEAE6F;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}

.custom-active-tab::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0.5) 50%, #fff 100%);
  animation: slide 1.5s infinite;
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}


/* --------------------------------------------------------- */



/* Estilos personalizados para los tabs */
.portafolio-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #f8f9fa;
}
.portafolio-item {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.portafolio-descripcion {
  color: #f8f9fa;
}
/* ------------------------------- */
/* VALIDACION POR SI NO SE MUESTRAN PROYECTOS */
.no-data {
  text-align: center;
  font-size: 1.2rem;
  color: #66C2A5;
  margin-top: 2rem;
}
/* ---------------------------- */
/* TEXTO PARA LA SECCION EXPERIENCIA  */
.experiencia-item {
  margin-top: 1rem;
}
.experiencia-puesto {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #FEAE6F;
}
.experiencia-institucion {
  font-size: 1.5rem;
  color: #66C2A5;
  font-style: italic;
  padding: 0.5rem;
}
.experiencia-fecha {
  font-size: 1.5rem;
  color: #F6DCAC;
  padding: 0.5rem;
}
.experiencia-descripcion {
  color: #f8f9fa;
  font-size: 1.5rem;
}
.experiencia-lista {
  list-style-type: disc;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #f8f9fa;
}
.experiencia-lista li {
  margin-top: 1rem;
  margin-left: 1.5rem;
}
/* ------------------------------- */

/* PESTAÑA PARA LAS TARJETAS Y LOS PROYECTOS */
mat-card {
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #f8f9fa;
  border: 1px solid #996655;
  flex-direction: column;
  max-width: 100%;
}

.card-title {
  /* margin-top: 15px; */
  font-size: 1.25rem;
  font-weight: bold;
  color: #f8f9fa;

}
/* TARJETAS */
.titulo-descripcion {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1rem;

}
.card-text {
  margin-bottom: 0.6rem !important;
  font-size: 1.2rem;
  color: #66C2A5;

}
mat-card-content {
  background-color: #1E1E1E;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

/* Estilo para las etiquetas de tecnologías */
.tags-container {
  margin-top: 1rem;
}

.tag {
  display: inline-block;
  background-color: #028391;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  margin: 1.5rem 1rem;
}

/* Contenedor de los tags */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem;
}

/* Estilo para los íconos de tecnologías */
.tech-icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.tech-icon:hover {
  transform: scale(1.2);
}

/* Estilo para etiquetas sin íconos */
.tag-fallback {
  font-size: 0.9rem;
  background-color: #028391;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

.btnpor, .btnexp, .btncerrar {
  width: 100%;
  max-width: 210px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 100;
  color: #FEAE6F;
  background: transparent;
  cursor: pointer;
  border: 1px solid #996655;
  transition: 0.5s ease;
  user-select: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnpor:hover, .btnpor:focus, .btnexp:hover, .btnexp:focus, .btncerrar:hover, .btncerrar:focus {
  color: #f8f9fa;
  background: #028391;
  border: 1px solid #028391;
  box-shadow: 0 0 5px #028391, 0 0 20px #028391, 0 0 50px #028391, 0 0 100px #028391;
}
/* ------------------------------------------------------------------------------------- */

/* MODAL */
.btncerrar-x {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  font-size: 2rem;
  font-weight: bold;
  color: #FEAE6F;
  background: transparent;
  border: 1px solid #996655;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.btncerrar-x:hover {
  color: #f8f9fa;
  background: #028391;
  border: 1px solid #028391;
  box-shadow: 0 0 5px #028391, 0 0 20px #028391, 0 0 50px #028391, 0 0 100px #028391;
}

/* Contenedor principal de la modal */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Descripción siempre visible */
.modal-description {
  color: #f8f9fa;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  max-height: 150px;
  overflow-y: auto; /* Si la descripción es muy larga, permite desplazarse */
}

/* Contenedor para la imagen */
.modal-image-container {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow-y: auto; /* Barra de desplazamiento vertical */
  border: 1px solid #996655;
  border-radius: 8px;
  background-color: #1E1E1E; /* Fondo oscuro para resaltar la imagen */
}

/* Imagen dentro de la modal */
.modal-image {
  width: 100%;
  object-fit: contain; /* Asegura que la imagen no se recorte */
}


